@media screen and (max-width:1227px){
    /** ----------SUCURSALES---------- */
    main{
        .caja-sucursales{
            .sucursal{
                width: 90%;
                height: auto;
                padding: 2rem;
                flex-wrap: wrap;
                .sucursal-img{
                    width: 25rem;
                    height: 15rem;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}


@media screen and (max-width:1174px){
        /** ---------HEADER---------- */
    header{
        .barra-nav{
            ul{
                li{
                    margin-left: 0.3rem;
                    margin-right: 0.3rem;
                    a{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    /** ---------INICIO---------- */
    main{
        .productos-principales{
            .productos-caja{
                width: auto;
                flex-direction: column;
                .productos-caja-texto{
                    margin-bottom: 3rem;
                }
            }
        }
        .titulo-index{
            div{
                font-size: 2rem;
            }
        }
        .galeria{
            .galeria-img-contenedor{
                padding-left: 3rem;
                padding-right: 3rem;
            }
        }
    }        
    /** ---------PRODUCTOS---------- */
    .sabores-alpeso{
        .sabores-alpeso-caja1{
            .sabores-alpeso-caja-grande{
                .gustos{
                    ul{
                        width: 200px;
                        margin-top: 2.5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                        flex-direction: column;
                        li{
                            font-size: 1rem;
                            list-style: none;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .sabores-alpeso-caja2{
            .sabores-alpeso-caja-chica{
                .gustos{
                    ul{
                        width: 200px;
                        margin-top: 2.5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                        flex-direction: column;
                        li{
                            font-size: 1rem;
                            list-style: none;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:960px){
    /** ----------SUCURSALES---------- */
    main{
        .caja-sucursales{
            .sucursal{
                width: min-content;
                .sucursal-img{
                    width: 25rem;
                    height: 15rem;
                    padding-top: 2rem;
                    display:none !important;
                }
                .sucursal-texto{
                    .item{
                        padding-right: 2rem;
                        p{
                            background-color: #eff2efb4;
                            border-radius: 1rem;
                            margin-top: 1rem;
                            font-weight: bold;
                        }
                    }
                    h2{
                        background-color: #eff2efb4;
                        border-radius: 1rem;
                        padding: 4px;
                        font-weight: bold;
                    }
                    iframe{
                        width: 25rem;
                        height: 15rem;
                        opacity: .8;
                    }
                }
            }
            .sucursal-1{
                background-image: url(../img/sucursales-1-titulo.jpg);
                background-repeat: no-repeat;
                background-size: cover;
            }
            .sucursal-2{
                background-image: url(../img/sucursales-2.jpg);
                background-repeat: no-repeat;
                background-size: cover;
            }
            .sucursal-3{
                background-image: url(../img/sucursales-3.jpg);
                background-repeat: no-repeat;
                background-size: cover;
            }
            .sucursal-4{
                background-image: url(../img/sucursales-5.jpeg);
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
    /** ----------PEDIDOS---------- */
    .titulo-online{
        div{
            font-size:  2rem;
        }
    }
    .caja-online-pedido{
        .formulario-pedido{
            form{
                .direccion{
                    .enviar{
                        input{
                            margin-top: 2rem;
                        }
                    }
                    .direccion-valor{
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        input{
                            margin-top: 2rem;
                            text-align: center;
                            height: 3rem;
                        }
                    }
                }
                .pasos{
                    h3{
                        font-size: 1.5rem;
                    }
                    h4{
                        font-size: 1.5rem;
                    }
                }
                .nombre-tlf{
                    div{
                        input{
                            width: 15rem;
                            height: 3rem;
                            margin-top: 2rem;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:780px){
    /** ---------INICIO---------- */
    header{
        flex-direction: column;
        height:auto;
        div{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 1.5rem;
        }
        .barra-nav{
            ul{
                margin-top: 2.5rem;
                margin-bottom: 1.5rem;
                margin: 0px 0px 0px 0px;
                padding: 0px 0px 0px 0px;
                margin-top: 1rem;
                margin-bottom: 1rem;
                li{
                    margin-left: 0.3rem;
                    margin-right: 0.3rem;
                }
            }
        }
    }
    main{
        .titulo-index{
            div{
                h2{
                    font-size: 2.5rem;
                    font-weight: bold;
                }
                p{
                    font-size: 1.5rem;
                }
            }
        }
    }
        .productos-principales{
            .productos-titulo{
                h2{
                    font-size: 1.5rem;
                }
            }
            .productos-caja{
                padding: 1.5rem;
                .productos-caja-img{
                    width: 30rem;
                    height: 25rem;
                }
            }
        }
        .galeria{
            .galeria-img-contenedor{
                grid-template-columns: repeat(2,1fr);
                grid-template-areas:
                "img6 img6"
                "img6 img6"
                "img2 img3"
                "img4 img3"
                "img4 img5"
                "img1 img1"
                "img1 img1"
                "img7 img8"
                "img7 img8"
                ;
                padding-left: 3rem;
                padding-right: 3rem;
            }
        }
        .titulo-productos{
            div{
                h2{
                    font-size: 2.5rem;
                }
                p{
                    font-size: 1.5rem;
                }
            }
        }
        .sucursal-titulo{
            font-size: 2rem;
        }
    /** ---------TRABAJA---------- */
        .titulo-trabaja{
            h2{
                font-size: 2.8rem;
                font-weight: bold;
            }
        }
    }

@media screen and (max-width:570px){
    header{
        div{
            margin: 0;
        }
        .barra-nav{
            ul{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                li{
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
    main{
        .productos-principales{
            .productos-caja{
                .productos-caja-img{
                    width: 25rem;
                    height: 20rem;
                }
            }
            .productos-titulo{
                h2{
                    font-size: 1.5rem;
                    padding-left: 1rem;
                    padding-right: 1rem;
                }
            }
        }
        .productos-postres{
            .cajita-postres{
                width: 20rem;
                height: 20rem;
                h2{
                    font-size: 2rem;
                    padding-top: 1rem;
                    padding-left: 1rem;
                    padding-right: 1rem;
                }
            }
        }
        .sabores-alpeso{
            .sabores-alpeso-caja2{
                .sabores-alpeso-caja-chica{
                    .sabores-alpeso-categoria-titulo{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        h3{
                            font-size: 2.3rem;
                            font-weight: bold;
                        }
                    }
                }
            }
            .sabores-alpeso-caja1{
                .sabores-alpeso-caja-grande{
                    .sabores-alpeso-categoria-titulo{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        h3{
                            font-size: 2.3rem;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:530px){
    main{
        .productos-principales{
            .productos-caja{
                padding: 1rem;
                .productos-caja-img{
                    width: 300px;
                    height: 300px;
                }
                .productos-caja-texto{
                    text-align: center;
                    width: 15rem;
                }
            }
        }
        .pedidos{
            .pedido-online-instruccion{
                .pedido-titulo{
                    h2{
                        width: 250px;
                        height: 150px;
                        padding: 5px;
                        margin: 0px 0px 0px 0px;
                    }
                }
            }
        }
        .galeria{
            .galeria-img-contenedor{
                grid-template-columns: 1fr;
                grid-template-areas:
                "img6"
                "img6"
                "img2"
                "img4"
                "img4"
                "img1"
                "img1"
                "img7"
                "img3"
                "img5"
                "img8"
                ;
                padding-left: 3rem;
                padding-right: 3rem;
            }
        }
        .sucursal-titulo{
            font-size: 1.5rem;
        }
        .caja-sucursales{
            .sucursal{
                .sucursal-texto{
                    .item{
                        p{
                            width: 10rem;
                        }
                    }
                    iframe{
                        width: 15rem;
                        height: 20rem;
                        opacity: .8;
                    }
                }
            }
        }
        .titulo-online{
            div{
                font-size:  1.5rem;
            }
        }
        .form-trabaja{
            .trabaja-contenedor{
                width: 300px;
                margin-bottom: 8rem;
            }
        }
    }
}
@media screen and (max-width:400px){
    main{
        .productos-principales{
            .productos-caja{
                padding: 0;
                padding-top: 2rem;
                .productos-caja-img{
                    width: 250px;
                    height: 250px;
                    padding: 5px;
                }
            }
        }
        .galeria{
            .galeria-img-contenedor{
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
        .productos-postres{
            .cajita-postres{
                width: 16rem;
                height: 16rem;
            }
        }
        .sabores-alpeso{
            .sabores-alpeso-titulo{
                h2{
                    font-size: 2.3rem;
                }
            }
        }
        .caja-online-pedido{
            .formulario-pedido{
                form{
                    .cajita-seleccion-productos{
                        .caja-opcion{
                            justify-content: center;
                            flex-direction: column;
                            label{
                                width: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}