*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F7E1D7;
}


@import "header";
@import "inicio";
@import "sucursales";
@import "productos";
@import "pedidos-online";
@import "trabaja-con-nosotros";
@import "footer";
@import "responsive";