*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F7E1D7;
}
main{
    .migas{
        display: inline-block;
        display:flex;
        font-size: 0.8rem;
    }
}
$semi-curva:2rem;
main .error-404{
    width: 100%;
    height: 60vh;
    font-weight: bold;
    text-align: center;
    font-family: 'Bad Script', cursive;
    font-size: 4rem;
    color: #6495ed;
    text-shadow: 1rem 1rem 0.8rem #FF5A5F,-1rem -1rem 0.8rem #FF5A5F,1px 1px 0 black;
}
main .error-404 {
    background-image: url(../img/helado-triste.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 700px;
    width: 100%;
    position: relative;
    text-align: center;
}
main .error-404 h2{
    margin-bottom: 5rem;
    position: relative;
    top: 5rem;
    text-align: center;
}
main .error-404 a{
    text-decoration: none
}

@import "header";
@import "inicio";
@import "sucursales";
@import "productos";
@import "pedidos-online";
@import "trabaja-con-nosotros";
@import "footer";
@import "responsive";